* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
} 
body {
    background-color: #2B312C;
}

.back {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 2rem;
    color:#000000;
    padding: 0px;
    background-color: rgb(173, 226, 93);
    text-decoration: none;
    border-radius: 5px;
    
}
.back:hover {
    background-color: rgba(173, 226, 93, 0.5);
}
.question {
    background-color:rgb(173, 226, 93);
    margin: 0% 25% 0% 25%;
    font-size: 2.5rem;
    color:#000000;
    border-radius: 10px;
    padding: 2rem;
    justify-content: center;
}


.science_text {
    padding: 1rem;
}

.science {
    background-color: rgb(173, 226, 93);
    color: #000000;
    font-family: sans-serif;
    font-weight: 300; 
    line-height: 1.6; 
    margin: 1rem auto; 
    padding: 1rem;
    border-radius: 10px;
    text-align: center; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
    border: 1px solid #e0e0e0; 
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); 
    margin: 1% 25% 1% 25%;
  }

.commerce_text {
    padding: 1rem;
}

.commerce {
    background-color: rgb(173, 226, 93);
    color: #000;
    font-family: sans-serif;
    font-weight: 300; 
    line-height: 1.6; 
    margin: 1rem auto; 
    padding: 1rem;
    border-radius: 10px;
    text-align: center; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
    border: 1px solid #e0e0e0; 
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); 
    margin: 1% 25% 1% 25%;
}

.humanities_text {
    padding: 1rem;
}

.humanities {
    background-color: rgb(173, 226, 93);
    color: #000;
    font-family: sans-serif;
    font-weight: 300; 
    line-height: 1.6; 
    margin: 1rem auto; 
    padding: 1rem; 
    border-radius: 10px;
    text-align: center; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
    border: 1px solid #e0e0e0; 
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1); 
    margin: 1% 25% 1% 25%;
}
button:hover  {
    background-color: rgba(173, 226, 93, 0.5);
}

