body
{
    background-color: rgb(140, 175, 215);

}
.mainhead
{
    color: rgb(30, 50, 70);
    display:flex;
    justify-content: center; 
    font-size: 40px;
    padding: 0% 35%;
}
.aboutus
{
    align:center;
    color:#4CAF50;
    padding: 20px;
}

.aboutus-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.center-container {
    text-align: center;
    margin-top: 50px; 
}
.benefit-container {
    text-align: left;
    margin-top: 50px; 
}

.aboutus-button:hover {
    background-color: #45a049;
}
.benefits {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(113, 1, 1, 0.1);
    border-radius: 8px;
}